@font-face {
  font-family: 'Crimson';
  src: url('/fonts/Crimson.woff2') format('woff2');
}

@font-face {
  font-family: 'Averia';
  src: url('/fonts/Averia.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/fonts/OpenSansLight.woff2') format('woff2');
} 